<footer>
    <h3 style="text-align: center">Designed by Kamyab Rouhifar</h2>
        <div class="grid_whole">
            <span class="grid_detail"><a href="https://github.com/krouhifar" class="f_icon color1 fa fab fa-github">
                </a>
                </br> <a class="icon" href="https://github.com/krouhifar">Github</a></span>
            <span class="grid_detail"><a
                    href="https://www.instagram.com/invites/contact/?i=vukqjd1akeuf&utm_content=1c4i3dl"
                    class="f_icon color2 fa fa-instagram"></a> </br> <a class="icon"
                    href="https://www.instagram.com/invites/contact/?i=vukqjd1akeuf&utm_content=1c4i3dl">instagram</a></span>
            <span class="grid_detail"><a href="https://www.linkedin.com/in/kamyab-rouhifar-84438818a/"
                    class="f_icon color3 fa fa-linkedin"></a></br> <a class="icon"
                    href="https://www.linkedin.com/in/kamyab-rouhifar-84438818a/">linkedin</a></span>

        </div>
</footer>